.card {
    margin: 5px;
    height: 150px;
    width: 150px;
    background-color: #19414F;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    border-radius: 10%;
}